body{
margin:0;
font-family:Arial,Helvetica,sans-serif;
}

.md-header{
background:#fff;
border-bottom:1px solid #ddd;
box-shadow:none;
}

.md-header__title{
font-size:26px;
font-weight:700;
}

.md-tabs{
background:#fff;
border-bottom:1px solid #eee;
}

.md-tabs__list{
display:flex;
justify-content:center;
gap:25px;
}

.md-tabs__link{
font-size:17px;
font-weight:600;
color:#222;
}

.md-tabs__link:hover{
color:#0b5fff;
}

.md-grid{
max-width:1500px!important;
}

.md-sidebar{
display:none!important;
}

.md-content{
max-width:100%;
}

.md-main__inner{
max-width:1500px;
margin:auto;
}
